
<div>
    <p><strong>NIF: </strong>@Model.Id <strong>Perfil: </strong>@Model.NomePerfil</p>
    <p><strong>Nome: </strong>@Model.Nome</p>
    <p><strong>Email: </strong>@Model.Email</p>
    <p><strong>Ativo: </strong>@(Model.Ativo ? "Sim" : "Não") <strong>Notificar: </strong>@(Model.Notificar ? "Sim" : "Não") </p>
    <p><strong>Criado: </strong> @Model.CreateAt <strong>Atualizado: </strong>@Model.UpdateAt</p>
</div>