@using CarometroV6.Enum;
@model List<Usuario>
@{
    ViewData["Title"] = "Usuários";
}
<div>
    <h1 class="display-4">Lista de Usuários</h1>
    <hr>
    <div class="mb-3">
        <a class="btn btn-primary" asp-area="" asp-controller="Usuario" asp-action="CriarUsuario"><i class="fas fa-plus"></i> Novo Usuário</a>
    </div>
</div>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            @TempData["MensagemErro"]
    </div>
}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Login</th>
                <th scope="col">Nome</th>
                <th scope="col">Perfil</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (Usuario usuario in Model)
                {
                    <tr>
                        <td>@usuario.Id</td>
                        <td>@usuario.Nome</td>
                        <td>@((EPerfil)usuario.Perfil)</td>
                        <td>
                            <a class="btn btn-success" title="Editar usuário" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="EditarUsuario"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a class="btn btn-danger" title="Excluir usuário" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="RemoverUsuario"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>