@model IEnumerable<Curso>
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col">
        <h1 class="display-4">Lista de Cursos</h1>
        <hr />
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <a type="button" class="btn ca-btn-primary" asp-controller="Curso" asp-action="Create">
            <i class="fas fa-plus"></i> Novo Curso
        </a>
    </div>

</div>

<div class="row mt-2">
    <div class="col">
        @if (TempData["MensagemSucesso"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["MensagemSucesso"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        @if (TempData["MensagemErro"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["MensagemErro"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ativo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeTipo)
                    </td>
                    <td>
                        <button class="btn" title="@item.Cor" style="background-color:@item.Cor"><i class="fa-solid fa-spray-can text-light"></i></button>
                    </td>
                    <td>
                        @(item.Ativo ? "Sim":"Não")
                    </td>
                    <td>
                        <a class="btn ca-btn-primary" title="Editar Curso" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn ca-btn-secondary" title="Detalhes do Curso" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a>
                        <a class="btn btn-danger" title="Excluir Curso" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
